
#mydivs{
    
}
#row{
    /* height: 150px; */
    margin: 0px;
    padding: 0px;
    height: 460px;
    width: 460px;
    border: 3px solid forestgreen;
    display: inline-block;
    /* padding: 0px;
    margin: 0px; */
}


img{
    height: 150px;
    width: 150px;
    margin: 0px;
    padding: 0px;
}
.row1{
    /* display: inline-block; */
    margin: 0px;
    padding: 0px;
}
.row2{
    display: inline-block;
}
.row3{
    display: inline-block;
}